@-moz-viewport {
width: device-width; scale: 1;
}

@-ms-viewport {
  width: device-width; scale: 1;
}

@-o-viewport {
  width: device-width; scale: 1;
}

@-webkit-viewport {
  width: device-width; scale: 1;
}
@viewport {
  width: device-width; scale: 1;
}

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*. *::before, *::after {
  box-sizing: inherit;
  }

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

figure {
  margin: 0;
}

@media only screen and (min-width: 20em) {

  img {
    width: 95%;
    display: inline-block;
    margin-left: 9px;
  }

  img:nth-of-type(1) {
    margin-top: 9px;
  }

  img:nth-of-type(2){
    display:none;
  }

  img:nth-of-type(4) {
    display:none;
  }
}

@media only screen and (min-width: 25em) {

  img,
  img:nth-of-type(2),
  img:nth-of-type(4) {
    width: 47%;
    display: inline-block;
    margin: 0;

  }

  img:nth-of-type(1),
  img:nth-of-type(3) {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 38em) {

  img,
  img:nth-of-type(2),
  img:nth-of-type(4),
  img:nth-of-type(3) {
    display: inline-block;
    width: 31%;
    margin: 0;
    margin-right: 2px;
    margin-top: 6px;
  }

  img:nth-of-type(2) {
    margin-left: 15px;
  }

  img:nth-of-type(1) {
    display: none;
  }
}

@media only screen and (min-width: 60em) {

  img,
  img:nth-of-type(2),
  img:nth-of-type(4),
  img:nth-of-type(1),
  img:nth-of-type(3) {
    display: inline-block;
    width: 24%;
    margin: 0;
    margin-top: 6px;
  }

  img:nth-of-type(1) {
    margin-left: 15px;
  }
}
